<header class="site-header">

  <div class="wrapper">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			      </button>
	      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
			<li {% if page.url == '/introduction/' %}class="active"{% endif %}><a class="page-link" href="/railsgirls_guide/introduction/">Introduction</a></li>		
			<li {% if page.url == '/guide/' %}class="active"{% endif %}><a class="page-link" href="/railsgirls_guide/guide/">Guide</a></li>		
			<li {% if page.url == '/create_rails_app/' %}class="active"{% endif %}><a class="page-link" href="/railsgirls_guide/create_rails_app/">Create Rails App</a></li>
			<li {% if page.url == '/advanced_topics/' %}class="active"{% endif %}><a class="page-link" href="/railsgirls_guide/advanced_topics/">Advanced</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
			<li {% if page.url == '/schedule/' %}class="active"{% endif %}><a class="page-link" href="/railsgirls_guide/schedule/">Schedule</a></li>	
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
  </div>

</header>
