<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
		 <a class="page-link" href="/railsgirls_guide/introduction/">Introduction</a>
		 <a class="page-link" href="/railsgirls_guide/create_rails_app/">Create Rails App</a>
		 <a class="page-link" href="/railsgirls_guide/guide/">Guide</a>
		 <a class="page-link" href="/railsgirls_guide/schedule/">Schedule</a>
	  </div>
    </nav>

  </div>

</header>
