<header class="site-header">

  <div class="wrapper">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			      </button>
	      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
          <li {% if page.url == '/part_1/' %}class="active"{% endif %}><a class="page-link" href="/part_1/">Part 1</a></li>
          <li {% if page.url == '/part_2/' %}class="active"{% endif %}><a class="page-link" href="/part_2/">Part 2</a></li>
          <li {% if page.url == '/advanced_topics/' %}class="active"{% endif %}><a class="page-link" href="/advanced_topics/">Going further</a></li>
          <li {% if page.url == '/schedule/' %}class="active"{% endif %}><a class="page-link" href="/schedule/">Schedule</a></li>
	      </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coaches <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/coaches/intro">Introduction for coaches</a></li>
            </ul>
          </li>
        </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
  </div>

</header>
